<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FTP" value="21" />
    <!-- changed by installation script on the fly -->
    <add key="FTPPASV" value="59860" />
    <!-- Azure Storage Account  -->
    <!-- changed by installation script on the fly -->
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=..." />
    <!-- Ftp server site, used to get its ipv4 ip, e.g. xxx.cloudapp.net-->    
<!--    <add key="FtpServerHost" value="%computername%"/>-->
    <add key="FtpServerHost" value="localhost" />
    <!-- changed by installation script on the fly -->
<!--    <add key="FtpServerHostPublic" value="%computername%"/>-->
    <add key="FtpServerHostPublic" value="localhost" />
    <!-- if to overwrite file by default in STOR command (uploads) RFC959 says you should -->
    <add key="FtpOverwriteFileOnSTOR" value="True" />
    <!-- if to replace adjacent slashes in path to single, ie subdir1//subdir2//dubdir3 to subdir1/subdir2/dubdir3. NTFS sees them as same while Blob Storgae sees it as different -->
    <add key="FtpReplaceSlashOnDELE" value="True" />
    
    <!-- changed by installation script on the fly -->
    <add key="LogPath" value="log" />
    <add key="LoggingEnabled" value="True" />
    <!-- Mode="Debug", use development storage; Mode="Live", use azure storage-->
    <add key="Mode" value="Debug" />
    <!-- Max number of concurrent clients -->
    <add key="MaxClients" value="30" />
    <!-- Ftp Server Account Management - external text file -->
    <add key="FtpAccount" value="userlist.txt" />
    <!-- No need to edit these unless specifically required (reserved for future use) -->
    <add key="ConnectionEncoding" value="UTF8" />
    <add key="MaxIdleSeconds" value="60" />
    <add key="QueueNotification" value="true" />

    <!-- maximum number of unsuccessfull login attempts from same login -->
    <!-- Set to negative value to make it unlimited. Default is 5. -->
    <add key="ftp.security.invalid-logon.max-attempts" value="5"/>

    <!-- period of time in which we count invalid logon attempts -->
    <!-- default value is 60 seconds -->
    <add key="ftp.security.invalid-logon.check-period-seconds" value="60"/>

    <!-- for how many seconds login is blocked when max invalid login -->
    <!-- attempts limit is exceeded -->
    <!-- default value is 180 seconds -->
    <add key="ftp.security.invalid-logon.block-period-seconds" value="180"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
