<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="FTP" value="21"/>
    <!-- changed by installation script on the fly -->
    <add key="FTPPASV" value="59860"/>
    <!-- Azure Storage Account  -->
    <!-- changed by installation script on the fly -->
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=..."/>
    <!-- Ftp server site, used to get its ipv4 ip, e.g. xxx.cloudapp.net-->    
    <add key="FtpServerHost" value="%computername%"/>
    <!-- changed by installation script on the fly -->
    <add key="FtpServerHostPublic" value="%computername%"/>
    <!-- if to overwrite file by default in STOR command (uploads) RFC959 says you should -->
    <add key="FtpOverwriteFileOnSTOR" value="True"/>
    <!-- if to replace adjacent slashes in path to single, ie subdir1//subdir2//dubdir3 to subdir1/subdir2/dubdir3. NTFS sees them as same while Blob Storgae sees it as different -->
    <add key="FtpReplaceSlashOnDELE" value="True"/>
    <!-- changed by installation script on the fly -->
    <add key="LogPath" value="C:\ftpdir\log"/>
    <add key="LoggingEnabled" value="True"/>
    <!-- Mode="Debug", use development storage; Mode="Live", use azure storage-->
    <add key="Mode" value="Live"/>
    <!-- Max number of concurrent clients -->
    <add key="MaxClients" value="30"/>
    <!-- Ftp Server Account Management - external text file -->
    <add key="FtpAccount" value="userlist.txt"/>
    <!-- No need to edit these unless specifically required (reserved for future use) -->
    <add key="ConnectionEncoding" value="UTF8"/>
    <add key="MaxIdleSeconds" value="60"/>
    <add key="QueueNotification" value="true"/>

  </appSettings>
</configuration>
